span {
    font: "Roboto Mono", "Roboto Mono", "Vazirmatn", monospace;
    font-variant-numeric: tabular-nums;
    font-size: 1.125rem;
    font-weight: 400;
    color: grey;
}

.wrongWords {
    
}

.textCursor {
    border-right: 0.1rem solid grey;
    padding: 0px;
    margin: 0px;
}